<h3 class="mt-4">{{ titulo }}</h3>
<hr>
<div *ngIf="!productos">Cargando listado de productos</div>
<div *ngIf="productos">
  <div class="row">
    <div class="col-sm-4 col-lg-3" *ngFor="let producto of productos">
      <div class="thumbnail">
        <div *ngIf="producto.imagen" class="imagen_container">
          <img src="http://localhost/curso-angular-backend/uploads/{{ producto.imagen }}" alt="" class="producto_imagen">
        </div>
        <div *ngIf="!producto.imagen">
          <div class="imagen_relleno"></div>
        </div>
        <div class="caption">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.precio }} €</p>
          <div class="botones" *ngIf="confirmado != producto.id">
            <a [routerLink]="['/producto', producto.id]" class="btn btn-primary btn-sm mr-1">Ver</a>
            <a [routerLink]="['/editar-producto', producto.id]" class="btn btn-warning btn-sm mr-1">Editar</a>
            <a (click)="borrarConfirm(producto.id)" class="btn btn-danger btn-sm mr-1">Eliminar</a>
          </div>
          <div class="seguro" *ngIf="confirmado == producto.id">
            <a (click)="onDeleteProducto(producto.id)" class="btn btn-danger btn-sm mr-1">Queiero eliminarlo</a>
            <a (click)="cancelarConfirm()" class="btn btn-warning btn-sm mr-1">Cancelar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
