<h3 class="mt-4">{{ titulo }}</h3>
<hr>
<form #formProducto="ngForm" id="formProducto" class="col-sm-6" (ngSubmit)="onSubmit()">
  <label>Nombre
    <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">El nombre es obligatorio</span>
  </label>
  <input type="text" #nombre="ngModel" [(ngModel)]="producto.nombre" class="form-control" name="nombre" id="nombre" required>


  <label>Descripcion
    <span *ngIf="!descripcion.valid && descripcion.touched" class="badge badge-danger">La descripcion es obligatoria</span>
  </label>
  <textarea #descripcion="ngModel" [(ngModel)]="producto.descripcion" type="text" class="form-control" name="descripcion" id="descripcion"  required></textarea>

  <label>Precio
    <span *ngIf="!precio.valid && precio.touched" class="badge badge-danger">El precio no es correcto</span>
  </label>
  <input #precio="ngModel" [(ngModel)]="producto.precio" type="text" class="form-control" name="precio" id="precio" required pattern="[0-9]+">

  <label>imagen</label>
  <input type="file" class="form-control" (change)="fileChangeEvent($event)">
  <div *ngIf="isEdit">
    <img src="http://localhost/curso-angular-backend/uploads/{{ producto.imagen }}" alt="" width="60px">
  </div>
  <br>
  <input type="submit" [disabled]="!formProducto.form.valid" value="{{ titulo }}" class="btn btn-success">
</form>
