<div class="mt-1" *ngIf="!producto">
  Cargando producto...
</div>

<div class="mt-4 row" *ngIf="producto">
  <div class="col-sm-4" *ngIf="producto.imagen">
    <img src="http://localhost/curso-angular-backend/uploads/{{ producto.imagen }}" alt="" class="producto_imagen">
  </div>
  <div class="col-sm-8">
    <h3>{{ producto.nombre }}</h3>
    <p><strong>{{ producto.precio }}</strong></p>
    <p>{{ producto.descripcion }}</p>
  </div>
</div>
