<div class="col-sm-10 offset-sm-1">
  <div class="jumbotron">
    <h2>{{ titulo }}</h2>
    <p>Gestiona tus productos con la aplicacion web SPA con angular desde cero</p>
    <p>
      <a [routerLink]="['/productos']" class="btn btn-sm btn-primary">Ver productos</a>
      <a [routerLink]="['/crear-producto']" class="btn btn-sm btn-success">Añadir productos</a>
    </p>
  </div>
</div>
