<div id="content" class="col-sm-10 offset-sm-1">
  <header id="header" class="col-sm-12" [style.background]="headerColor">
    <h1>{{title}}</h1>
  </header>
  <nav id="nav" class="col-sm-12">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
      <li><a [routerLink]="['/crear-producto']" [routerLinkActive]="['activado']">Crear producto</a></li>
    </ul>
  </nav>
  <div class="clearfix"></div>
  <section id="main" class="col-sm-12">
    <!-- componente actual -->
    <router-outlet></router-outlet>
  </section>
  <footer class="col-sm-12" id="footer">
    <p>Curso angular 4</p>
  </footer>
</div>
