#content {
  margin-top: 30px;
  border-radius: 2px;
  background: white;
  box-shadow: 0px 2px 5px #ccc;
  padding: 0px;
  overflow: hidden;
}

#header {
  background: #E03137;
  color: white;
  margin: 0px;
  height: 90px;
  line-height: 90px;
}

#header h1{
  display: block;
  line-height: 90px;
  font-weight: bold;
  font-size: 30px;
}

#nav {
  padding: 0px;
  margin: 0px;
  background: #ff00007a;
  height: 30px;
}

#nav ul{
  margin: 0px;
  list-style: none;
  padding-left: 20px;
}

#nav ul li{
  float: left;
  margin-right: 20px;
}

#nav ul li a{
  color: white;
  height: 30px;
  display: block;
  line-height: 30px;
  padding: 0px 10px;
  transition: all 300ms;
}

#nav ul li a:hover{
  text-decoration: none;
  background-color: #E03137;
}

.activado{
  text-decoration: none;
  border-bottom: 4px solid yellow;
}

#main .jumbotron{
  padding: 50px;
  margin-top: 30px;
  border-radius: 5px;
}

#footer{
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 15px;
  color: gray;
}

#formProducto label{
  margin-top: 10px;
}

.producto_imagen {
  /*width: 100%;*/
  max-height: 200px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.imagen_relleno{
  background-color: #ccc;
  width: 100%;
  height: 200px;
}

.imagen_container{
  width: 100%;
  overflow: hidden;
  height: 200px;
  background-color: #ccc;
}
